name: CI

on: [push]

jobs:
  main:
    runs-on: ubuntu-24.04
    steps:
      - name: Create npm configuration
        run: echo "//npm.pkg.github.com/:_authToken=${token}" >> ~/.npmrc
        env:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: clippy
          matcher: false
          rustflags: ""
          target: x86_64-unknown-linux-gnu,aarch64-unknown-linux-gnu
      - run: npm ci
      - run: npm run build
      - run: npm run test

  rust-tests-clippy-warnings:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: clippy
          matcher: false
          rustflags: ""
      - uses: ./
        with:
          args: --all-features
          working-directory: rust_tests/clippy_warnings

  rust-tests-cross:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          target: aarch64-unknown-linux-gnu
          components: clippy
          matcher: false
          rustflags: ""
      - uses: ./
        with:
          args: --target aarch64-unknown-linux-gnu --all-features
          working-directory: rust_tests/clippy_warnings
          tool: cross
          cache-key: 'rs-clippy-check-tests'

  rust-tests-cargo-hack:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: clippy
          matcher: false
          rustflags: ""
      - uses: ./
        with:
          args: --feature-powerset
          working-directory: rust_tests/clippy_warnings
          tool: cargo-hack
          cache-key: 'rs-clippy-check-tests'
